MONGODB_URI=mongodb://localhost:27017/NNPTUD-S4

# Mailtrap: Email Testing -> SMTP settings
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASS=
MAIL_FROM="NNPTUD-S4" <noreply@example.com>
